* {
      margin: 0px;
      padding: 0px;
}

header {
      padding-top: 10px;
      border-bottom: 5px solid black;
}

.main-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.nav-left, .nav-center {
      display: flex;
      list-style: none;
      gap: 15px;
}