* {
      margin: 0px;
      padding: 0px;
}

header {
      padding-top: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      box-shadow: 0 0 4px rgb(0, 0, 0);
}

.main-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.nav-left, .nav-center {
      display: flex;
      list-style: none;
      gap: 15px;
}

.cta {
      background-color: #616468;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
}

.cta:hover {
      background-color: #63f79c;
      transition: 1.2s;
}